CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
CORS_ORIGIN=
COOKIE_DOMAIN=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
SERVER_URL=
AFRICASTALKING_API_KEY=
AFRICASTALKING_USERNAME=
AFRICASTALKING_SENDER_ID=

# Casino
LAGOS_RUSH_API_KEY=
LAGOS_RUSH_BASE_URL=
POCKETS_SECRET_KEY=

